#map {
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

#mapHolder {
    width: 600px;
    height: 600px;
    margin: 10px;
    border: 1px solid black;
    float: left;
}

#puzzleHolder {
    height: 600px;
    width: 600px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.puzzle{
    margin: 2px;
}